* {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 254, 255);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}


body {
    position: relative;
    overflow: hidden; /* Evita que el botón se vaya "afuera" */
}

.buttons-container {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    margin-top: 10px;
}

img {

width:20vh;

}

.buttons{
    width: 100px;
    height: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    max-width: 90vw; /* se adapta en pantallas chicas */
}

.buttons:hover{
    background-color: #44f3d6;
    box-shadow: 0px 15px 20px rgba(46, 131, 229, 0.4);
    color: #fff;
    transform: translateY(-5px);
  }